@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,700);

html {
  background-color: #f1f1f1;
  height: 100%;
}

body {
  background-color: #f1f1f1;
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  font-family: "Nunito";
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
  height: 100%;
}

body svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  color: #707070;
  text-decoration: none;
  padding-bottom: 0.5rem;
}
a:hover {
  color: #bb7070;
}

svg text{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@namespace svg url(https://www.w3.org/2000/svg);
svg|a:link, svg|a:visited {
  cursor: pointer;
}
svg|a text, text svg|a {
  fill: blue; /* Even for text, SVG uses fill over color */
  text-decoration: none;
}
svg|a:hover, svg|a:active {
  fill: blue;
  text-decoration: none;
}

.about {
  position: absolute;
  right: 0px;
  bottom: 50px;
  position: absolute;
  background: #85bc99;
  font-weight: 300;
  font-size: 14px;
  color: white;
  width: 155px;
  height: 25px;
  padding-top: 10px;
  padding-left: 12px;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s
}

.about a {
  color: white;
  text-decoration: none;
}

.about a:hover {
  color: "707070";
  text-decoration: none;
}

#scenarioAccordion {
  position: absolute;
  left: 250px;
  top: 130px;
  width: 60%;
  padding-bottom: 20px
}

.scenarioDiv {
  height: 295px
}

.scenarioText {
  font-size: 18px;
  font-weight: 300
}

.difficultyPopover {
  position: absolute;
  display: inline;
  background: #f1f1f1;
  top: -60px;
  left: 175px;
  height: 150px;
  width: 150px;
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 300;
  box-shadow: 5px 6px #f1f1f1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s
}

#difficultyPopoverHeader {
  color: #85bc99;
  font-size: 20px;
  font-weight: 500
}

.popoverStat {
  margin-top: 5px;
  font-weight: 200;
  font-size: 18px;
  display: block;
  text-align: center;
  text-justify: center
}

.scenarioHead {
  font-size: 20px;
  font-weight: 300
}

#workSVG,
#theaterSVG,
#restaurantSVG,
#clubSVG,
#shopSVG,
#originalSVG {
  pointer-events: all;
  position: absolute;
  width: 175px;
  height: 200px
}

#workEasy,
#workMedium,
#workHard,
#theaterEasy,
#theaterMedium,
#theaterHard,
#restaurantEasy,
#restaurantMedium,
#restaurantHard,
#clubEasy,
#clubMedium,
#clubHard,
#shopEasy,
#shopMedium,
#shopHard,
#originalEasy,
#originalMedium,
#originalHard {
  fill: #707070;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer
}

.scenarioThumbnail {
  position: relative;
  left: 0px;
  display: inline
}

.scenarioAction {
  position: relative;
  display: inline
}

.lock {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 10px
}

.scenarioSavesDiv {
  position: absolute;
  background: #85bc99;
  font-weight: 300;
  font-size: 22px;
  color: #f1f1f1;
  width: 100px;
  height: 125px;
  padding-top: 5px;
  padding-left: 12px;
  text-align: center;
  top: 185px;
  left: -12px;
  cursor: pointer;
  box-shadow: 5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s
}

.savesText {
  font-weight: 300;
  font-size: 18px;
  fill: #f1f1f1
}

.scenarioVaxLogoDiv {
  position: absolute;
  background: #85bc99;
  font-weight: 400;
  font-size: 28px;
  color: #f1f1f1;
  width: 125px;
  height: 45px;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  top: 45px;
  left: -12px;
  cursor: pointer;
  box-shadow: 5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s
}

.verifyUnlockBox {
  position: absolute;
  background: #85bc99;
  float: right;
  color: "#f1f1f1";
  width: 300px;
  height: 100px;
  padding-top: 30px;
  padding-left: 0px;
  top: -100px;
  left: 35%;
  box-shadow: 5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s
}

.verifyUnlockHeader {
  position: absolute;
  top: 20px;
  left: 40px;
  color: #f1f1f1;
  font-weight: 500;
  font-size: 28px
}

.verifyUnlockCost {
  position: absolute;
  left: 56px;
  top: 100px;
  font-weight: 300;
  font-size: 24px
}

.verifyUnlockYes {
  position: absolute;
  left: 80px;
  top: 62px;
  color: #f1f1f1;
  font-weight: 300;
  font-size: 22px;
  cursor: pointer
}

.verifyUnlockNo {
  position: absolute;
  left: 180px;
  top: 62px;
  color: #f1f1f1;
  font-weight: 300;
  font-size: 22px;
  cursor: pointer
}

.scenarioTitle {
  fill: #707070;
  font-weight: 400;
  font-size: 40px
}

.networkSize,
.refuserCount,
.refuserCountText,
.vaxAvailable,
.vaxCount {
  fill: #BABABA;
  font-weight: 300;
  font-size: 20px
}

.bar rect {
  fill: #00adea;
  shape-rendering: crispEdges
}

.bar text {
  fill: #f1f1f1
}

.axis path,
.axis line {
  fill: #707070;
  stroke: #707070;
  shape-rendering: crispEdges
}

#vaxShieldText {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: "white";
  top: -32px;
  right: -20px
}

.vaccineDepressedState {
  position: absolute;
  top: 0px;
  right: 17px;
  background: #77a989;
  width: 75px;
  height: 75px;
  visibility: hidden
}

.vaccineCounterText {
  position: absolute;
  top: 54px;
  right: 37px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff
}

#vaxShieldIcon {
  position: relative;
  width: 85px;
  height: 50px;
  right: -2px;
  top: -40px
}

.actionVax {
  cursor: pointer;
  background: #85bc99;
  position: fixed;
  float: right;
  display: inline-block;
  width: 100px;
  height: 45px;
  padding-top: 30px;
  padding-left: 12px;
  top: 20px;
  box-shadow: 5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  visibility: hidden;
  right: -200px
}

.actionQuarantine {
  background: #85bc99;
  position: fixed;
  float: right;
  display: inline-block;
  width: 115px;
  height: 45px;
  padding-top: 30px;
  padding-left: 12px;
  top: 20px;
  box-shadow: 5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  visibility: hidden;
  right: -200px
}

#quarantineText {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: "white";
  top: -32px;
  right: -15px
}

.quarantineDepressedState {
  position: absolute;
  top: 0px;
  right: 31px;
  background: #77a989;
  width: 75px;
  height: 75px;
  visibility: hidden
}

.quarantineCounterText {
  position: absolute;
  top: 55px;
  right: 6px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff
}

#quarantineIcon {
  position: relative;
  width: 85px;
  height: 50px;
  right: -2px;
  top: -32px
}

.menuItemNormal {
  position: relative;
  float: left;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  display: inline;
  padding-top: 4px;
  padding-right: 28px;
  padding-left: 28px;
  cursor: pointer
}

.menuItemBold {
  position: relative;
  float: left;
  font-size: 15px;
  color: #007138;
  font-weight: 300;
  display: inline;
  padding-top: 4px;
  padding-right: 22px;
  padding-left: 22px;
  cursor: pointer
}

.lessonHead {
  position: absolute;
  background: none;
  top: 12px;
  float: left;
  background: none;
  font-size: 10px;
  font-weight: 300;
  fill: #ffffff
}

.gameHead {
  position: absolute;
  background: none;
  top: 12px;
  margin-left: 495px;
  font-size: 10px;
  font-weight: 300;
  fill: #ffffff
}

.stepwiseNavBar {
  position: relative;
  background: #85bc99;
  float: right;
  color: "white";
  width: 500px;
  height: 45px;
  top: -75px;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  right: -5px;
  visibility: visible;
  display: inline;
  box-shadow: 5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s
}

.stepwiseNavSVG {
  position: relative;
  top: -10px;
  padding: 5px;
  margin: 0px
}

.menuBox {
  position: absolute;
  background: #85bc99;
  top: 0px;
  padding: 5px;
  text-align: center;
  right: 0;
  visibility: visible;
  display: inline;
  box-shadow: 5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s
}

.guideTextSVG {
  position: relative;
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #f1f1f1 3%, #fff 13%, #fff 89%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #f1f1f1), color-stop(13%, #fff), color-stop(89%, #fff), color-stop(100%, #f1f1f1));
  background: -webkit-linear-gradient(top, #f1f1f1 3%, #fff 13%, #fff 89%, #f1f1f1 100%);
  background: -o-linear-gradient(top, #f1f1f1 3%, #fff 13%, #fff 89%, #f1f1f1 100%);
  background: -ms-linear-gradient(top, #f1f1f1 3%, #fff 13%, #fff 89%, #f1f1f1 100%);
  background: linear-gradient(to bottom, #f1f1f1 3%, #fff 13%, #fff 89%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#f1f1f1', GradientType=0)
}

.syringe {
  cursor: pointer
}

.startText {
  top: 500px;
  right: 200px
}

.node {
  stroke: #636363;
  stroke-width: 2px;
  pointer-events: all
}

.link {
  stroke: #636363;
  stroke-width: 2px
}

.nextArrow,
.backArrow {
  cursor: pointer
}

#homeBackground {
  min-width: 1024px;
  min-height: 768px
}

.homeTitle {
  color: #707070;
  font-size: 80px;
  font-weight: 500
}

.homeSubtitle {
  color: #707070;
  font-size: 26px;
  font-weight: 500
}

.homeTutorial {
  color: #707070;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer
}

.homeModules {
  color: #707070;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer
}

.homeGame {
  color: #707070;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer
}

.homeMenu {
  position:absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
  z-index: 1;
  font-size: 23px;
}

.homeHI {
  color: #707070;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer
}

.numberUntreatedText {
  fill: #707070;
  font-size: 18px;
  font-weight: 500
}

.uninfectedLegendText {
  fill: #707070;
  font-size: 23px;
  font-weight: 500
}

.infectedLegendText {
  fill: #707070;
  font-size: 23px;
  font-weight: 500
}

.uninfectedPercentage {
  fill: #707070;
  font-size: 30px;
  font-weight: 700
}

.networkSizeText {
  fill: #707070;
  font-size: 25px;
  font-weight: 500
}

.numberQuarantinedText {
  fill: #707070;
  font-size: 18px;
  font-weight: 500
}

.numberVaccinatedText {
  fill: #707070;
  font-size: 18px;
  font-weight: 500
}

.link {
  stroke-width: 3px
}

svg {
  background-color: #f1f1f1
}

.faqTitle {
  font-size: 32px;
  font-weight: 400;
  color: #707070
}

#accordion.faq-accordion {
  margin-top: 9px
}

.faq-wrapper {
  margin-top: 60px;
  margin-bottom: 100px
}

.faqText {
  font-size: 18px;
  font-weight: 300
}

#faqHead {
  font-size: 20px;
  font-weight: 300
}

.helpAbout {
  position: absolute;
  background: #85bc99;
  font-weight: 300;
  font-size: 14px;
  color: white;
  width: 300px;
  height: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 12px;
  text-align: center;
  top: 50px;
  right: 0px;
  cursor: pointer;
  box-shadow: 5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s
}

#vax-logo {
  position: absolute;
  background: #85bc99;
  color: white;
  padding: 12px;
  padding-left: 24px;
  text-align: center;
  top: calc(3rem - 12px);
  left: -12px;
  cursor: pointer;
  box-shadow: 5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: 1;
}

#vax-logo h1{
  margin-bottom: 0;
}

#faq-wrapper{
  padding: 0 calc(3rem + 84px);
}

.popup_game_share {
  position: absolute;
  top: 330px;
  left: 270px;
  visibility: hidden
}

#pinNodesDiv {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 140px;
  height: 200px
}

#pinHeader {
  position: absolute;
  top: 0px;
  font-weight: 500;
  font-size: 16px;
  margin: 10px
}

#pinText {
  position: absolute;
  top: 18px;
  left: -15px;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  margin: 10px
}

#unPinText {
  position: absolute;
  text-align: center;
  left: -15px;
  top: 65px;
  font-weight: 300;
  font-size: 15px;
  margin: 10px
}

.gameMenuBox {
  position: absolute;
  background: #85bc99;
  float: right;
  color: "white";
  width: 250px;
  height: 45px;
  padding-top: 30px;
  padding-left: 0px;
  bottom: 0%;
  right: 0px;
  box-shadow: 5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s
}

.gameMenuBoxItem {
  position: relative;
  float: right;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  padding-top: 0px;
  right: 10px;
  padding-right: 30px;
  padding-left: 28px;
  cursor: pointer
}

.newGameHeader {
  position: absolute;
  background: none;
  top: 50px;
  left: 30px;
  font-size: 30px;
  font-weight: 500;
  color: #707070
}

.difficultySelection {
  position: absolute;
  left: 100px;
  top: 125px;
  height: 600px;
  width: 700px;
  vertical-align: middle
}

.difficultyItem {
  position: relative;
  font-size: 32px;
  display: block;
  font-weight: 300;
  color: #707070;
  margin-top: 30px;
  cursor: pointer
}

.difficultyItemGrey {
  position: relative;
  font-size: 32px;
  display: block;
  font-weight: 300;
  color: #BABABA;
  margin-top: 30px;
  cursor: pointer
}

.difficultyHeader {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  color: #707070;
  padding-top: 30px
}

#customMenuDiv {
  position: relative;
  top: 50px;
  height: 600px;
  width: 35%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  background: #85bc99;
  color: #ffffff;
  box-shadow: 5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  visibility: hidden
}

.customMenuItem {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  padding-top: 60px;
  padding-right: 28px;
  padding-left: 28px
}

.customHeaderFooter {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 20px;
  padding-right: 28px;
  padding-left: 28px
}

.okayButton {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  top: 60px;
  cursor: pointer
}

#nodeSlider,
#degreeSlider,
#vaccineSlider,
#outbreakSlider,
#refuserSlider {
  position: relative;
  margin: 20px;
  margin-top: 30px;
  left: 9%;
  height: .3em;
  width: 75%;
  margin-bottom: -25px
}

#nodeSlider .ui-slider-handle,
#degreeSlider .ui-slider-handle,
#vaccineSlider .ui-slider-handle,
#outbreakSlider .ui-slider-handle,
#refuserSlider .ui-slider-handle {
  width: 2em;
  height: 2em;
  margin-top: -9px
}

.recapText {
  position: relative;
  fill: #707070;
  font-weight: 300;
  font-size: 25px
}

.recapButton {
  position: relative;
  fill: #707070;
  font-weight: 500;
  font-size: 28px
}

.accordion-button{
  background-color: #85bc99;
  color: #ffffff;
}

.accordion-button:not(.collapsed){
  background-color: #85bc99 !important;
  color: #ffffff !important;
}

.accordion-button:hover{
  background-color: #2692f2;
}